.login-box {
    position: absolute;
    top: 22%;
    left: 37%;
    width: 420px;
    height: 500px;
    border: 1px solid #DADCE0;
    border-radius: 10px;
  }
  .login-box h1 {
    position: absolute;
    top: 15%;
    left: 40.5%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  .login-box x1 {
    position: absolute;
    top: 27%; 
    left: 35%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  .login-box #forget {
    position: absolute;
    top: 52%;
    left: 7%;
    font-weight: 500;
    font-size: 15px;
    color: #1A73E8;
    text-decoration: none;
  }
  .login-box x3 a {
    top: 52%;
    left: 7%;
    font-weight: 500;
    font-size: 15px;
    color: #1A73E8;
    text-decoration: none;
  }
  .login-box #forgets {
    position: absolute;
    top: 100%;
    left: 0.1%;
    font-weight: 500;
    font-size: 15px;
    color: #1A73E8;
    text-decoration: none;
  }
    .login-box x3 {
    position: absolute;
    font-weight: 600;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #1A73E8;
    top: 81%;
    left: 7%;
    transform: matrix(1, 0, 0, 1, -10, -5);
  }
  .login-box x3:hover {
    background-color: aliceblue;
  }  
  .login-box small {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #5F6368;
    font-size: 15px;
    top: 62%;
    left: 7%;
  }
  .login-box span {
    color: #1A73E8;
    font-weight: bold;
  }
  .login-box input {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 20px;
    width: 360px;
    height: 50px;
    top: 40%;
    left: 7%;
    background: none;
      color: inherit;
      border: 1px solid #DADCE0;
    border-radius: 3px;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    padding-left: 11px;
  }
  .login-box button {
    position: absolute;
    top: 80%;
    left: 74%;
    font-family: 'Poppins', sans-serif;
    background-color: #1A73E8;
    height: 40px;
    width: 85px;
    font-size: 15px;
    color: white;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;
  }
  .login-box button:hover {
    background-color: #1567D3;
    -webkit-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5); 
    box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5);
  }
  .login-box img {
    position: absolute;
    top: 7%;
    left: 38%;
    width: 100px;
    height: 70px;
  }
  


  .login-pw-box {
    position: absolute;
    top: 22%;
    left: 37%;
    width: 420px;
    height: 500px;
    border: 1px solid #DADCE0;
    border-radius: 10px;
  }
  .login-pw-box h1 {
    position: relative;
    top: 20%;
    left: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }

  .login-pw-box x3 a {
    top: 52%;
    left: 7%;
    font-weight: 500;
    font-size: 15px;
    color: #1A73E8;
    text-decoration: none;
  }
    .login-pw-box x3 {
    position: absolute;
    font-weight: 600;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #1A73E8;
    top: 81%;
    left: 7%;
    transform: matrix(1, 0, 0, 1, -10, -5);
  }
  .login-pw-box x3:hover {
    background-color: aliceblue;
  }  
  
  .login-pw-box span {
    color: #1A73E8;
    font-weight: bold;
  }
  .login-pw-box #togglepw {
    position: absolute;
    top: 49%;
    left: 7%;
    width: 15px;
  }
  .login-pw-box #toglepw {
    position: absolute;
    top: 52.5%;
    left: 13%;
    height: 40px;
    font-size: 15px;
  }
  .login-pw-box input {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 20px;
    width: 360px;
    height: 50px;
    top: 40%;
    left: 7%;
    background: none;
      color: inherit;
      border: 1px solid #DADCE0;
    border-radius: 3px;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      padding-left: 11px;
  }
  .login-pw-box button {
    position: absolute;
    top: 80%;
    left: 74%;
    font-family: 'Poppins', sans-serif;
    background-color: #1A73E8;
    height: 40px;
    width: 85px;
    font-size: 15px;
    color: white;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;
  }
  .login-pw-box button:hover {
    background-color: #1567D3;
    -webkit-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5); 
    box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5);
  }
  .login-pw-box img {
    position: absolute;
    top: 7%;
    left: 38%;
    width: 100px;
    height: 70px;
  }
  

  .signup-box {
    position: absolute;
    top: 22%;
    left: 37%;
    width: 420px;
    height: 500px;
    border: 1px solid #DADCE0;
    border-radius: 10px;
  }
  
  
  .signup-box x1 {
    position: absolute;
    top: 20%; 
    left: 27%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
  }

  .signup-box x2 {
    position: absolute;
    top: 28%; 
    left: 32%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
  }
  
  .signup-box span {
    color: #1A73E8;
    font-weight: bold;
  }
  
  .signup-box input {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 20px;
    width: 350px;
    height: 50px;
    top: 40%;
    left: 7%;
    background: none;
      color: inherit;
      border: 1px solid #DADCE0;
    border-radius: 3px;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      padding-left: 11px;
  
  }
  
  .signup-box #input2 {
    margin-top: 65px;
  }
  .signup-box #input_test {
    margin-top: 130px;
  }
  
  .signup-box button {
    position: absolute;
    top: 80%;
    left: 74%;
    font-family: 'Poppins', sans-serif;
    background-color: #1A73E8;
    height: 40px;
    width: 85px;
    font-size: 15px;
    color: white;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;
  
  }
  
  .signup-box button:hover {
    background-color: #1567D3;
    -webkit-box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5); 
    box-shadow: 5px 6px 12px -6px rgba(0,0,0,0.5);
  
  }
  
  
  .signup-box img {
    position: absolute;
    top: 7%;
    left: 38%;
    width: 100px;
    height: 70px;
  }
  
 
  




  input::placeholder {
    position: absolute;
    top: 30%;
    left: 3%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  /* .input {
    padding-left: 100px;
  } */
  
 
  
  .tag h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  
  .tag h1:hover {
    font-family: 'Poppins', sans-serif;
    color: red;
  }
  
  .tag span {
    color: red;
  }
  
  
  .tag a {
    font-family: 'Poppins', sans-serif;
    color: black;
  }